LITELLM_TELEMETRY_ENABLED=false
MONGO_HOST=mongodb://localhost:27017/?directConnection=true
MONGO_DATABASE=ReMind

OLLAMA_API_BASE=http://localhost:11434
FIRECRAWL_API_BASE=https://api.firecrawl.dev    # or http://localhost:3002 if self-hosted in Docker
FIRECRAWL_API_KEY=

IMGUR_CLIENT_ID=
IMGUR_CLIENT_SECRET=

AZURE_API_KEY=
AZURE_API_BASE=
AZURE_API_VERSION=
