# GOAL

You have to judge whether the student's answer is correct or not.

# Content

{{content}}

# Question

{{question}}

# Model Answer

{{model_answer}}

# Student Answer

{{answer}}

# OUTPUT FORMATTING

{{format_instructions}}

- Do not include any text other than the JSON object
- Do not include ```json``` in the response
- Do not provide explanation or justification for your answer

# ANSWER
